<div class="w-70 h-70 d-flex justify-content-center align-items-center">
    <form action="/create-session" method="POST" class="w-50 bg-body-tertiary p-2 mt-4 shadow rounded">
        <div class="text-center">
            <h1 class="text-primary">
                Login
            </h1>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="text-center">
            <p>
                Don't have an accout, 
                <a href="/sign-up">Sign Up</a>
                instead. 
            </p>
        </div>
    </form>
</div>
